# iio-sensor-proxy
# IIO accelerometer to input proxy

ACTION=="add", SUBSYSTEM=="iio", TAG+="systemd", ENV{SYSTEMD_WANTS}="iio-sensor-proxy.service"
SUBSYSTEM=="input", ACTION="add", ENV{ID_INPUT_ACCELEROMETER}=="1", ENV{SYSTEMD_WANTS}="iio-sensor-proxy.service"
